@(user: User)(implicit request: RequestHeader)
    @sidebar = {
        <script>
            window.currentUser = {id:@user.tpId};
        </script>
        <ul class="nav nav-pills nav-stacked">
            <li>
                <branches-filter filter="allBranchesFilter" branches="allBranches" active="true">
                    All branches
                </branches-filter>
            </li>
            <li>
                <branches-filter filter="entityBranchesFilter" branches="allBranches">
                    Entity branches
                </branches-filter>
            </li>
            <li>
                <branches-filter filter="closedBranchesFilter" branches="allBranches">
                    Closed branches
                </branches-filter>
            </li>
            <li>
                <branches-filter filter="getUserFilter(@user.tpId)" branches="allBranches">
                    My branches
                </branches-filter>
            </li>
            <hr>
            <li ng-repeat="user in users | orderBy:'firstName+lastName'">
                <branches-filter filter="getUserFilter(user.userId)" branches="allBranches">
                    <img ng-src="{{user.avatar}}30">{{user.firstName}} {{user.lastName}}
                </branches-filter>
            </li>
        </ul>
    }

@main("Build board", Some(user), sidebar = sidebar) {

}
